header{
    background-color: ;
}

section{
    background-color: #f1f1f1;
}

footer{
    background-color: #666;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: crimson;
}
nav{
    text-align: center;
}

div.nav{
    text-align: center;
}

ul{
    list-style: none;
}

li.l1{
    float: left;
    padding: 30px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: coral;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: brown;
}